html, body, form, input, button, p, label {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font: 10px 'Arial', sans-serif;
  color: #000;
  body {
    text-align: center;
    form {
      margin: 10% auto;
      padding: 0.5rem;
      background-color: #EEE;
      width: 32rem;
      border: solid 0.1rem #CCC;
      label {
        display: block;
        cursor: pointer;
      }
      input {
        width: 100%;
        margin-top: 1rem;
        &:first-of-type {
          font-size: 1.4rem;
          padding: 0.5rem;
        }
        &[type="submit"] {
          padding: 0.5rem;
        }
      }
      p {
        margin-top: 1rem;
        font-size: 1.4rem;
        &.incorrect-input {
          color: #F00;
        }
        &.output {
          margin-top: 0;
          font-weight: bold;
          text-align: left;
          &:first-of-type {
            margin-top: 1rem;
          }
        }
      }
    }
  }
}